.root {
    -fx-background-color: #DEDEDE;
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #4AC03D;
    -fx-border-color: #2DA31E;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 3 10 3 10;
}

.button:hover {
    -fx-border-color: #FFFFFE;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell .label {
    -fx-background-color: transparent;
    -fx-text-fill: #343434;
}

.list-cell:selected .label{
    -fx-background-color: transparent;
    -fx-text-fill: #343434;
}

.eventListItemContainer {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C5C5C5;
    -fx-border-width: 2px;
}

.list-cell:selected .eventListItemContainer {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C5C5C5;
}

.eventListItemContainer .label {
    -fx-alignment: bottom-left;
}

.eventListItemContainer .eventItemHeader {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.eventListItemContainer .eventItemLocationLabel {
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}

.eventListItemContainer .eventItemDateLabel {
    -fx-font-weight: normal;
    -fx-font-size: 15px;
}

.eventListItemContainer .eventItemDescriptionLabel {
    -fx-text-fill: #616161;
    -fx-font-weight: normal;
    -fx-font-size: 17px;
}

.detailPaneStyle {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C5C5C5;
    -fx-border-width: 2px;
}

.eventDetailsHeader {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #4AC03D;;
}

.detailPaneStyle .label{
    -fx-text-fill: #343434;
}

.detailPaneStyle .fieldLabelStyle {
    -fx-font-weight: bold;
}

.detailPaneStyle .fieldStyle {
    -fx-background-color: #FEFAFA;
    -fx-border-color: #2B0202;
    -fx-text-fill: #000000;
    -fx-padding: 3 5 3 5;
}

.declineReasonPanel {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C5C5C5;
    -fx-border-width: 2px;
    -fx-text-fill: #343434;
    -fx-padding: 5;
}

.declineReasonPanel .label {
    -fx-text-fill: #343434;
    -fx-font-weight: bold;
}